* {
outline: 3px clear;
Padding: 0px;
margin: 10px;
border: 0px;
box-sizing: content-box;

}

body {

background-color: #FAF9F6;
margin: auto;
font-family: sans-serif;
color: black;
font-size: 18px;

}

#center {

color: purple;
font-size: 45px;
text-align: center;

}

#steps {

color: purple;
font-size: 21px;
text-align: left;

}


img src {

margin-left: auto;
margin-right: auto;

}

